body{
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    font-family: sans-serif;
    font-size: 18px;
        
    
}
#nav{
    background-color: cadetblue;
}
#nav_Wrapper{
    width:99ox;
    margin: 0 auto;
    text-align: left;
}
#nav ul{
    list-style: none;
    padding:0;
    margin: 0;
    position: relative;
}
#nav li{
    display:inline-block;
}
#nav ul li:hover{
    background-color: aqua;
    
}
#nav ul a,visited{
    color: aquamarine;
    display: block;
    padding: 10px;
    
}
